
<div class="container">
  <div class="jumbotron top-space">
    <p>
      Cheryl Jackman - Owner/General Manager - It has been a dream of Cheryl to own her own consignment shop.  After 20 years of hunting for treasures she can't wait to use those keen hunting skills and fashionista know how, for your gain.<br /><br />

      Suberina Jocelyn - Assistant Manager - After earning her Interior Design Degree in 1999 Suberina has designed suites on Cruise Ships, High End Hotels, and Model Homes focusing on custom home drapes.  She spent the next 10 years managing cost for construction projects.  
    </p>

    <div class="h-body text-center">
      <h3>
        EXTRAORDINARY VALUE, VARIETY AND SERVICE
      </h3>
    </div>
  </div>
</div>
