
<div class="container">
  <div class="jumbotron">
    <p>
      Why pay retail when you can find a re-purposed item at 1/3 of the retail price?  Jackie's Consignment carries designer and brand name clothing, decorative accessories for the home and furniture; all at the highest quality.  We discriminately search for the right items that our customers will love, and add inventory daily.  
    </p>

    <h5>Decorative Home Items:</h5>
    <ul>
      <li>Lamps</li>
      <li>Decorative Items (Candle Holders, Vase, Picture Frames, Floral Arrangements, Tableware, Curtains, and Decorative Pillows)</li>
      <li>Art  (Original Pieces &amp; Quality Reproductions)</li>
      <li>Rugs</li>
      <li>Ceiling Lights</li>
      <li>Furniture</li>
    </ul>

    <p>
      Hand Selected Designer and Boutique Fashions for Men, Women, and Children in all sizes.  (Quantities are limited, hurry in for the perfect find.)
    </p>
  </div>
</div>
