

  <!-- Header -->
  <header id="head"></header>
  <!-- /Header -->
    
  <!-- Highlights - jumbotron -->
  <div class="container">
    <div class="jumbotron">
      
      <h3 class="text-center thin">Check us out!!!</h3>
      
      <div class="row">
        <div class="col-md-4 col-sm-6 highlight">
          <div class="h-caption">
            <h3><i class="fa fa-users fa-5"></i>WHO WE ARE</h3>
            <h5>Meet our dedicated team</h5>
          </div>
          <div class="h-body text-center">
            <p>Our family is dedicated to adding value to your life, with the perfect accessory for your home or hte perfect hand-picked dress.</p>
            <%= link_to "Read More", nil, class: "btn btn-default" %>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 highlight">
          <div class="h-caption">
            <h3><i class="fa fa-briefcase fa-5"></i>PRODUCTS OFFERED</h3>
            <h5>We've got it all</h5>
          </div>
          <div class="h-body text-center">
            <p>We search high and low to bring great bargains for your enjoyment.  Come on down and see what we've got!</p>
            <%= link_to "READ MORE", nil, class: "btn btn-default" %>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 highlight">
          <div class="h-caption">
            <h3><i class="fa fa-shopping-cart fa-5"></i>CONSIGNMENT</h3>
            <h5>Let us sell it for you</h5>
          </div>
          <div class="h-body text-center">
            <p>We don't charge fees!!  We want our consigner and our buyers to benefit from great deals.</p>
            <%= link_to "READ MORE", nil, class: "btn btn-default" %>
          </div>
        </div>
      </div> <!-- /row  -->
    
    </div>
  </div>
  <!-- /Highlights -->
