
<form>
  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" type="text" placeholder="Name">
    </div>
    <div class="col-sm-4">
      <input class="form-control" type="text" placeholder="Email">
    </div>
    <div class="col-sm-4">
      <input class="form-control" type="text" placeholder="Phone">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 text-right">
      <input class="btn btn-action" type="submit" value="Send message">
    </div>
  </div>
</form>
