
<div class="container">
  <div class="row">
    
    <!-- Article main content -->
    <article class="col-sm-9 maincontent">
      <header class="page-header">
        <h1 class="page-title">Contact us</h1>
      </header>
      
      <p>
        We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
      </p>
      
      <%= render 'form' %>

    </article>
    <!-- /Article -->
    
    <!-- Sidebar -->
    <aside class="col-sm-3 sidebar sidebar-right">

      <div class="widget">
        <h4>Address</h4>
        <address>
          2002 Holcombe Boulevard, Houston, TX 77030, USA
        </address>
        <h4>Phone:</h4>
        <address>
          (713) 791-1414
        </address>
      </div>

    </aside>
    <!-- /Sidebar -->

  </div>
</div>
